*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #525893;
}
::-webkit-scrollbar-thumb:hover {
  background: #7b86e6;
}

.targetColumn{/* Bu sınıf boş sınıftır, sürükle bırakta hedef göstermek için var olan bir sınıf */}
.ticketHold{/* Bu sınıfta boş sınıf, tutulan ticket'ı belirtmek için kullanılıyor. */}

.headerNavLink{
  padding:4px 12px;
  font-size: 24px;
  text-decoration: none;
  background-color: white;
  color:#404258;
  border-radius: 5px;
  border: 1px solid #404258;
  transition: .5s ease all;
}
.headerNavLink:hover{
  color:white;
  background-color: #404258;
  border-color: white;
}
.headerNavLink:active{
  background-color: #a2a5c4;
}
